.doodleContainer {
    /* background: url('/src/images/background-3.png') center center/cover no-repeat; */
    background-color: white; 
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    flex-flow: column;
    margin: 0 auto;
}

/* .doodle1 {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    flex-flow: column;
    margin: 0 auto;
} */

.doodles {
    background-color: white; 
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    flex-flow: column;
    margin: 0 auto;
    padding: 10px;
}

.doodleTitle {
    color: black;
    font-size: 45px;
    padding-top: 50px;
}

.doodleDescription {
    color: black;
    font-size: 25px;
    padding-bottom: 50px;
}

.biggerStatement {
    color: black;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
}

.project1 {
    /* background: url('/src/images/background-3.png') center center/cover no-repeat; */
    background-color: black; 
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    flex-flow: column;
    margin: 0 auto;
}

.projectTitle {
    color: white;
    font-size: 20px;
    padding: 50px;
    /* margin-bottom: 20px; */
}

.valueProp {
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project1-wrapper {
    position: relative;
    margin: 30px 0 30px;
}

.project1-text {
  padding: 50px;
  margin-left: 20px;
  align-self: center;
}

.project1-image {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  align-self: center;
  display: table;
}

.project1-items{
  display: flex;
  flex: 1;
  /* margin: 0 1rem; */
}

.flyerimage {
  max-height: 282.4px;
  max-width: 234px; 
}

  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .hero-items {
      display: flex;
    }
  }
  
.btn-mobile {
  display: block;
  text-decoration: none;
}
  
.btn {
  width: 100%;
}


